@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
ol, ul {
    padding: 1em;
}

a:hover {
    text-decoration: underline;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}
